name: ci/cd pipeline to deploy to tomcat 
on:
  push:
    branches: master
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: set up jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: validate with maven
        run: mvn validate

      - name: compile with maven
        run: mvn compile 

      - name: test with maven
        run: mvn test

      - name: package with maven
        run: mvn package
      - name: verify war file
        run: ls -lh target/ 
      - name: Deploy WAR to Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }} \
          -T target/*.war \
          "${{ secrets.TOMCAT_URL }}/manager/text/deploy?path=/myapp&update=true"
