name: Build and Deploy WAR to Tomcat

on:
  push:
    branches:
      - master

jobs:

# ---------------- BUILD ----------------
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build WAR
        run: mvn clean package

      - name: Upload WAR
        uses: actions/upload-artifact@v4
        with:
          name: war-file
          path: target/TrainBook-1.0.0-SNAPSHOT.war

# ---------------- DEV ----------------
  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: war-file

      - name: deploy war to tomcat DEV
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }} \
            -T TrainBook-1.0.0-SNAPSHOT.war \
            "${{ secrets.TOMCAT_HOST_DEV }}:8080/manager/text/deploy?path=/TrainBook&update=true"
# ---------------- TEST ----------------
  deploy-test:
    needs: deploy-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4 
        with:
          name: war-file

      - name: deploy war to tomcat TEST
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_TEST }}:${{ secrets.TOMCAT_PASS_TEST }} \
            -T TrainBook-1.0.0-SNAPSHOT.war \
            "${{ secrets.TOMCAT_HOST_TEST }}:8080/manager/text/deploy?path=/TrainBook&update=true"
# ---------------- PRE-PROD ----------------
  deploy-preprod:
    needs: deploy-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: war-file

      - name: deploy war to tomcat PRE-PROD
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PREPROD }}:${{ secrets.TOMCAT_PASS_PREPROD }} \
            -T TrainBook-1.0.0-SNAPSHOT.war \
            "${{ secrets.TOMCAT_HOST_PREPROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"
# ---------------- PROD ----------------
  deploy-prod:
    needs: deploy-preprod
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: war-file

      - name: deploy war to tomcat PROD
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PROD }}:${{ secrets.TOMCAT_PASS_PROD }} \
            -T TrainBook-1.0.0-SNAPSHOT.war \
            "${{ secrets.TOMCAT_HOST_PROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"
